* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: #00909e;
    position: relative;
    display: flex;
    overflow: hidden;
}

.background {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 50%;
}



#card {
    width: 350px;
    height: 370px;
    background-color: blue;
    margin: 8.1rem auto 8.1rem auto;
    border-radius: 10px;
    background-color: white;
}

.card-bg {
    position: absolute;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-image {
    padding-top: 90px;
    text-align: center;
}

.card-image img {
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
    margin-bottom: 5px;
}

.user-name {
    text-align: center;
    color: #222831;
}

.user-name span {
    color: #9ba4b4;
    padding-left: 3px;
}

.user-name p {
    color: #9ba4b4;
    padding-top: 5px;
}

.user-profile {
    margin: 60px 30px 20px 30px;
}
.user-profile ul {
    list-style: none;
}

.user-profile li {
    float: left;
    text-align: center;
    padding: 0px 20px;
    font-weight: 700;
    color: #222831;
}

.user-profile span {
    color: #9ba4b4;
    font-weight: 100;
}
